<div class="engine-settings-splash">
  <div class="status">
    <div class="lights">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>
    <div class="hexcheck">
      <div class="hexbg"></div>
      <div class="check"></div>
      <div class="shadow"></div>
    </div>
    <div class="lights">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>
  </div>
</div>
