@import "colors";
@import "variables";


.engine-settings-splash {
  margin: 0 auto;
}


.status {
  position: absolute;
  left: 50%;
  height: 78px;
  width: 247px;
  margin-left: -123.5px;
}

.status .light {
  position: absolute;
}

.status .light:nth-child(1) {
  left: 0%;
}

.status .light:nth-child(2) {
  left: 25%;
}

.status .light:nth-child(3) {
  left: 50%;
}

.status .light:nth-child(4) {
  left: 75%;
}

.status .light:nth-child(5) {
  left: 100%;
}

.status .lights {
  position: absolute;
  top: 50%;
  left: auto;
  width: 65px;
}

.status .lights:last-child {
  right: 0;
}

.status .lights:last-child .light:nth-child(1) {
  -moz-transition: background 0.3s ease 0.28s;
  -o-transition: background 0.3s ease 0.28s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.28s;
  transition: background 0.3s ease 0.28s;
}
.status .lights:last-child .light:nth-child(2) {
  -moz-transition: background 0.3s ease 0.32s;
  -o-transition: background 0.3s ease 0.32s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.32s;
  transition: background 0.3s ease 0.32s;
}
.status .lights:last-child .light:nth-child(3) {
  -moz-transition: background 0.3s ease 0.36s;
  -o-transition: background 0.3s ease 0.36s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.36s;
  transition: background 0.3s ease 0.36s;
}
.status .lights:last-child .light:nth-child(4) {
  -moz-transition: background 0.3s ease 0.4s;
  -o-transition: background 0.3s ease 0.4s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.4s;
  transition: background 0.3s ease 0.4s;
}
.status .lights:last-child .light:nth-child(5) {
  -moz-transition: background 0.3s ease 0.44s;
  -o-transition: background 0.3s ease 0.44s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.44s;
  transition: background 0.3s ease 0.44s;
}
.status .lights:last-child .light:nth-last-child(1):before, .status .lights:last-child .light:nth-last-child(1):after {
  -moz-transition: background 0.3s ease 0.28s;
  -o-transition: background 0.3s ease 0.28s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.28s;
  transition: background 0.3s ease 0.28s;
}
.status .lights:last-child .light:nth-last-child(2):before, .status .lights:last-child .light:nth-last-child(2):after {
  -moz-transition: background 0.3s ease 0.32s;
  -o-transition: background 0.3s ease 0.32s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.32s;
  transition: background 0.3s ease 0.32s;
}
.status .lights:last-child .light:nth-last-child(3):before, .status .lights:last-child .light:nth-last-child(3):after {
  -moz-transition: background 0.3s ease 0.36s;
  -o-transition: background 0.3s ease 0.36s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.36s;
  transition: background 0.3s ease 0.36s;
}
.status .lights:last-child .light:nth-last-child(4):before, .status .lights:last-child .light:nth-last-child(4):after {
  -moz-transition: background 0.3s ease 0.4s;
  -o-transition: background 0.3s ease 0.4s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.4s;
  transition: background 0.3s ease 0.4s;
}
.status .lights:last-child .light:nth-last-child(5):before, .status .lights:last-child .light:nth-last-child(5):after {
  -moz-transition: background 0.3s ease 0.44s;
  -o-transition: background 0.3s ease 0.44s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.44s;
  transition: background 0.3s ease 0.44s;
}
.status .lights:last-child .light, .status .lights:last-child .light:before, .status .lights:last-child .light:after {
  background: #98d6f9;
}
.success .status .lights:last-child .light, .success .status .lights:last-child .light:before, .success .status .lights:last-child .light:after {
  background: #6cdbc7;
}
.success .status .lights:last-child .light, .throb .status .lights:last-child .light, .success .status .lights:last-child .light:before, .throb .status .lights:last-child .light:before, .success .status .lights:last-child .light:after, .throb .status .lights:last-child .light:after {
  background: #f0f9fe;
}
.success .success .status .lights:last-child .light, .success .throb .status .lights:last-child .light, .success .success .status .lights:last-child .light:before, .success .throb .status .lights:last-child .light:before, .success .success .status .lights:last-child .light:after, .success .throb .status .lights:last-child .light:after {
  background: #eaf9f7;
}
.status .lights .light {
  height: 9px;
  width: 9px;
  border-radius: 4.5px;
  margin: -4.5px 0 0 -4.5px;
}
.status .lights .light:nth-child(1) {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
}
.status .lights .light:nth-child(2) {
  -moz-transition: background 0.3s ease 0.04s;
  -o-transition: background 0.3s ease 0.04s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.04s;
  transition: background 0.3s ease 0.04s;
}
.status .lights .light:nth-child(3) {
  -moz-transition: background 0.3s ease 0.08s;
  -o-transition: background 0.3s ease 0.08s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.08s;
  transition: background 0.3s ease 0.08s;
}
.status .lights .light:nth-child(4) {
  -moz-transition: background 0.3s ease 0.12s;
  -o-transition: background 0.3s ease 0.12s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.12s;
  transition: background 0.3s ease 0.12s;
}
.status .lights .light:nth-child(5) {
  -moz-transition: background 0.3s ease 0.16s;
  -o-transition: background 0.3s ease 0.16s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.16s;
  transition: background 0.3s ease 0.16s;
}
.status .lights .light:nth-last-child(1):before, .status .lights .light:nth-last-child(1):after {
  -moz-transition: background 0.3s ease 0s;
  -o-transition: background 0.3s ease 0s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0s;
  transition: background 0.3s ease 0s;
}
.status .lights .light:nth-last-child(2):before, .status .lights .light:nth-last-child(2):after {
  -moz-transition: background 0.3s ease 0.04s;
  -o-transition: background 0.3s ease 0.04s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.04s;
  transition: background 0.3s ease 0.04s;
}
.status .lights .light:nth-last-child(3):before, .status .lights .light:nth-last-child(3):after {
  -moz-transition: background 0.3s ease 0.08s;
  -o-transition: background 0.3s ease 0.08s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.08s;
  transition: background 0.3s ease 0.08s;
}
.status .lights .light:nth-last-child(4):before, .status .lights .light:nth-last-child(4):after {
  -moz-transition: background 0.3s ease 0.12s;
  -o-transition: background 0.3s ease 0.12s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.12s;
  transition: background 0.3s ease 0.12s;
}
.status .lights .light:nth-last-child(5):before, .status .lights .light:nth-last-child(5):after {
  -moz-transition: background 0.3s ease 0.16s;
  -o-transition: background 0.3s ease 0.16s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.16s;
  transition: background 0.3s ease 0.16s;
}
.status .lights .light, .status .lights .light:before, .status .lights .light:after {
  background: #98d6f9;
}
.success .status .lights .light, .success .status .lights .light:before, .success .status .lights .light:after {
  background: #6cdbc7;
}
.success .status .lights .light, .throb .status .lights .light, .success .status .lights .light:before, .throb .status .lights .light:before, .success .status .lights .light:after, .throb .status .lights .light:after {
  background: #f0f9fe;
}
.success .success .status .lights .light, .success .throb .status .lights .light, .success .success .status .lights .light:before, .success .throb .status .lights .light:before, .success .success .status .lights .light:after, .success .throb .status .lights .light:after {
  background: #eaf9f7;
}

.hexcheck {
  background: #a7dcfa;
  -moz-transition: background 0.8s;
  -o-transition: background 0.8s;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  height: 78px;
  width: 45.03332px;
  margin-left: -22.51666px;
}

.success .hexcheck {
  background: #81e0cf;
}

.hexcheck,
.hexcheck .hexbg {
  position: absolute;
  top: 0;
  left: 50%;
  position: relative;
}

.hexcheck:before, .hexcheck:after,
.hexcheck .hexbg:before,
.hexcheck .hexbg:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}

.hexcheck:before, .hexcheck:after,
.hexcheck .hexbg:before,
.hexcheck .hexbg:after {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: inherit;
}

.hexcheck:before,
.hexcheck .hexbg:before {
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexcheck:after,
.hexcheck .hexbg:after {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.hexcheck .hexbg {
  background: #37637c;
  -moz-transition: background 0.8s;
  -o-transition: background 0.8s;
  -webkit-transition: background 0.8s;
  transition: background 0.8s;
  top: 6px;
  height: 66px;
  width: 38.10512px;
  margin-left: -19.05256px;
  z-indeX: 1;
}


.hexcheck .shadow {
  -moz-transform: rotate(-39deg);
  -ms-transform: rotate(-39deg);
  -webkit-transform: rotate(-39deg);
  transform: rotate(-39deg);
  position: relative;
  position: absolute;
  top: 0;
  left: 50%;
  height: 78px;
  width: 78px;
  margin-left: -39px;
  z-index: 1;
}

.hexcheck .shadow:before, .hexcheck .shadow:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}

.hexcheck .shadow:after {
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  width: 100%;
}

.check {
  background: #98d6f9;
  -moz-transition: background 0.3s ease 0.24s;
  -o-transition: background 0.3s ease 0.24s;
  -webkit-transition: background 0.3s ease;
  -webkit-transition-delay: 0.24s;
  transition: background 0.3s ease 0.24s;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.check:before, .check:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
}

.success .check {
  background: #6cdbc7;
}

.check:before {
  -moz-transform: rotate(-51deg);
  -ms-transform: rotate(-51deg);
  -webkit-transform: rotate(-51deg);
  transform: rotate(-51deg);
  position: absolute;
  top: -4px;
  left: -7px;
  height: 14px;
  width: 8px;
  background: inherit;
}

.check:after {
  -moz-transform: rotate(39deg);
  -ms-transform: rotate(39deg);
  -webkit-transform: rotate(39deg);
  transform: rotate(39deg);
  position: absolute;
  top: -10px;
  left: 0px;
  height: 19px;
  width: 8px;
  background: inherit;
}

.success .check {
  background: #f0f9fe;
}

.success .success .check {
  background: #eaf9f7;
}
